[submodule "bench/deps/awk-csv-parser"]
	path = bench/deps/awk-csv-parser
	url = https://github.com/geoffroy-aubry/awk-csv-parser.git
[submodule "bench/deps/pcg-c-basic"]
	path = bench/deps/pcg-c-basic
	url = https://github.com/imneme/pcg-c-basic.git
